.category{
    margin-top: 73px;
    .category__wrapper{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 20px;
        .category__card{
            display: flex;
            width: 354px;
            padding: 46px 41px;
            border-radius: 22px;
            gap: 26px;
            background-color: #F6F6F6;
            align-items: center;
            div{
                .category__title{
                    font-size: 36px;
                    font-weight: 700;
                    max-width: 173px;
                    font-family: pop;
                }
                .category__desc{
                    font-size: 15px;
                    font-weight: 500;
                    font-family: pop;
                    color: #8B8E99;
                }
            }
        }
    }
}