.footer{
    margin-top: 91px;
    background-color: #000;
    height: 65px;
    .footer__collection{
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 23px 0;
    }
}